/* *************** Circle Loader *************** */
.loader {
  margin: 0.5rem auto;
  width: 85%;
  height: 90px;
}

.circle-loader {
  width: 100%;
  height: 100%;
}

.circle-loader .circle-loading {
  margin: auto;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 10px solid #ff7a59;
  width: 80px;
  height: 80px;
  animation: spinner1 1s linear infinite;
}

@keyframes spinner1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
