/* https://flatuicolors.com/palette/defo */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #ecf0f1;
}

/* *************** Header *************** */
.header {
  position: sticky;
  top: 0;
  background-color: #212529;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header > div {
  width: 42%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.link-name a {
  font-size: 1.2rem;
  color: #1ec896;
  font-weight: bold;
  transition: all 0.3s ease;
}

.link-name a:hover {
  font-size: 1.3rem;
}

.link-media a {
  margin: 0 0.3rem;
}

.link-media svg {
  width: 25px;
  height: 25px;
  fill: #1ec896;
  transition: all 0.3s ease;
}

.link-media svg:hover {
  width: 28px;
  height: 28px;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: #ecf0f1;
}

@media screen and (min-width: 768px) {
  .header > div {
    width: 20%;
  }

  .link-name a {
    font-size: 1.6rem;
    transition: all 0.3s ease;
  }

  .link-name a:hover {
    font-size: 1.7rem;
  }

  .link-media a {
    margin: 0 0.6rem;
  }

  .link-media svg {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
  }

  .link-media svg:hover {
    width: 34px;
    height: 34px;
  }

  .title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .header > div {
    width: 15%;
  }

  .link-name a {
    font-size: 1.8rem;
    transition: all 0.3s ease;
  }

  .link-name a:hover {
    font-size: 2rem;
  }

  .link-media a {
    margin: 0 0.6rem;
  }

  .link-media svg {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
  }

  .link-media svg:hover {
    width: 36px;
    height: 36px;
  }

  .title {
    font-size: 2.5rem;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  justify-content: space-evenly;
}

.section {
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: rgba(200, 200, 200, 0.4);
  border-top: 3px solid #2c3e50;
  border-bottom: 3px solid #2c3e50;
  border-radius: 40px;
  transition: all 0.2s ease;
}

.section:hover {
  border-top: 4px solid #1ec896;
  border-bottom: 4px solid #1ec896;
}

.section h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #2c3e50;
}

.loader {
  margin: 0.5rem auto;
  width: 85%;
  height: 90px;
}

/* *************** Wave Loader *************** */
.wave-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 5px;
  height: 80px;
  background: linear-gradient(45deg, #162534, #192837);
  margin: 2.5px;
  animation: wave 1s linear infinite;
  border-radius: 5px;
}

.wave:nth-child(1) {
  animation-delay: 0.1s;
}
.wave:nth-child(2) {
  animation-delay: 0.2s;
}

.wave:nth-child(3) {
  animation-delay: 0.3s;
}

.wave:nth-child(4) {
  animation-delay: 0.4s;
}

.wave:nth-child(5) {
  animation-delay: 0.5s;
}

.wave:nth-child(6) {
  animation-delay: 0.6s;
}

.wave:nth-child(7) {
  animation-delay: 0.7s;
}

.wave:nth-child(8) {
  animation-delay: 0.8s;
}

.wave:nth-child(9) {
  animation-delay: 0.9s;
}

.wave:nth-child(10) {
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* *************** Spin Loader *************** */
.spin-loader {
  margin: auto;
  width: 80px;
  height: 80px;
}

.spin-loader-container {
  width: 100%;
  height: 100%;
  border: 10px solid #162534;
  border-top-color: #3498db;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.spin-loader-inner {
  border-top-color: #2ecc71;
  border-bottom-color: #2ecc71;
  animation-duration: 5s;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* *************** Spinner Loader *************** */

.spinner-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.spinner {
  width: 80px;
  height: 80px;
  display: inline-block;
  border: 10px solid #162534;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* *************** Bouncing Loader *************** */
.bouncing-loader {
  width: 200px;
  height: 60px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #34495e;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(52, 73, 94, 0.7);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
